body{
    background-color: rgb(255, 255, 255);
    background-image: url("https://www.transparenttextures.com/patterns/circles.png");
    margin: 0;

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */  

}

/* Start -  styling for the navigation*/
#navigation{
    background-color: #d0d0d0;
    box-shadow:1px 1px 10px #0f0f0f;
    padding: 10px;
    text-align: center;
}
.navItems{
    display: inline;
}

.navItems a {
    color: #0f0f0f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    text-decoration: none;
}
.navItems a:hover{
    color: #0d4d8d
}
.navItems a:visited{
    color: #c75808;
}
/* End - styling for the navigation*/

/* Start - Logo styling*/
.mainLogo{
    display: block;
    margin: 0 auto;
}
/* End - Logo styling*/

/*Start - styling for main content*/

.aboutUsContainer{
    background-color: #f3f3f3;
    padding:20px;
    
}

h1{
    color:#0d4d8d
}
p{
    color:#041c34
}
h1,p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

input{
    border-style: none;
    border-bottom: 1px solid #041c34;
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.inputSubmit{
    background-color: #0d4d8d;
    color:#fff;
    width: 10%;
}

.inputSubmit:hover{
    background-color: #083562;
}

table{
    margin: 0 auto;
}

th{    background-color: #d0d0d0}

tr,th{
    padding: 20px;
    text-align: center;
}
/*End - styling for main content*/

/*Start - Styling for About Page*/
.aboutUsContainer{
    margin: 0 auto;
    max-width: 80%;
}

h2{
    color:#0d4d8d;
    text-align: center;

}

ul{
    margin: 0 auto;
    text-align: left;
    width: 50%;
}

ul li{
}
/*End - Styling for About Page*/


/*Start - Styling for Portfolio Page*/
h3{
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}
s{
    color: #990000;
}
/*End - Styling for Portfolio Page*/